.swiper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink:0;
}
.swiper-tab-bar-container{
    position: relative;
    z-index: 1;
    width: 100%;
}
.swiper-container{
    width: 100%;
    flex:1;
    display:flex;
}